h2{
    color: green;
    font-style: italic;
}
.good{
    background-color: greenyellow;
    border: green;
    border-width: 5px;
    border-style: double;
    display:"inline-block";
    width: 150px;
    margin-bottom: 10px;
}

.bad{
    background-color: red;
    border: black;
    border-width: 5px;
    border-style: double;
    display:"inline-block";
    width: 300px;
    margin-bottom: 10px;
}

th{
    width: 150px;
}

.bigly{
    margin-bottom: 5px;
    width: 125px;
    display: inline-block;
}

.wrapper{
    display: block;
    width: 500px;
    margin: auto;
}

.newcontact{
    float: right;
    margin-right: 228px;
   
}